img {
  width: auto;
  border-radius: 0;
}

.split-image img {
  display: inline;
}

figcaption {
  font-style: italic;
}

#post-list .featured {
  max-height: 170px;
  overflow-y: hidden;
  margin-bottom: 10px;
}

#post-list a, #other-posts-list a {
  cursor: pointer;
}

#post-list li {
  /* border-bottom: #E5E5E5 1px solid; */
  padding: 0;
  margin-bottom: 20px;
}

#other-posts h2 {
  margin-bottom: 0;
}

#other-posts-list li {
  margin-bottom: 0px;
}

#other-posts-list li {
  list-style-type: none;
}

#post-list li+li {
  padding: 0;
}

#post-list h2 {
  color: #333;
  display: block;
  font: bold 19px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif;
}

#post-list .post-description {
  font: normal 17px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #aaa;
  max-width: none;
  text-align: justify;
  margin-top: 2px;
}

#post-list li .summary {
  padding: 0px 0px 20px 0px;
}

figure {
  margin-bottom: 20px;
}

#post-body p {
  text-align: justify;
}
