<li>
    {{ if .Params.featuredImage }}
      <div class='featured'>
        <a href='{{ .Permalink }}'><img src="{{.Params.featuredImage}}"></a>
      </div>
    {{ end }}
    {{ if .Params.featuredImageResource }}
      {{ $original := .Resources.GetMatch (printf "%s*" (.Params.featuredImageResource.src)) }}
      {{ if $original }}
        {{ $image := $original }}
        <div class='featured'>
          <a href='{{ .Permalink }}'>
            {{ if .Params.featuredImageResource.fillPosition }}
              {{ $image := $original.Fill (printf "520x170 %s" .) }}
              <img src="{{$image.RelPermalink}}" />
            {{ else }}
              <img src="{{$original.RelPermalink}}" />
            {{ end }}
          </a>
        </div>
      {{ end }}
    {{ end }}
    <div class='summary'>
      <a href='{{ .Permalink }}'><aside class="dates">{{ .Date.Format "Jan 2" }}</aside></a>
      <a href='{{ .Permalink }}'>
        <h2>
          {{ if .CurrentSection }}
            {{ with .CurrentSection.Params.projectname }}
              {{ . }} -
            {{ end }}
          {{ end }}
          {{ .Title }}
        </h2>
        <p class='post-description'>{{ .Description | markdownify }}</p>
      </a>
    </div>
</li>

